.about {
    position: relative;
    background: linear-gradient(90deg, #000000 0%, #434343 100%);
    padding-top: 6.8rem;
    padding-bottom: 14rem;

    &__row {
        display: flex;
        align-items: center;
    }

    &__left,
    &__right {
        flex: 0 0 auto;
        width: 50%;
    }

    &__right {
        padding-left: 4.2rem;
    }

    &__image {
        margin-right: -1.8rem;
    }
}

@media (max-width: 999.98px) {
    .about {
        padding-top: 4.5rem;
        padding-bottom: 4rem;

        &__row {
            display: block;
        }

        &__left,
        &__right {
            width: 100%;
            padding: 0;
        }

        &__right {
            margin-top: 3rem;
        }

        &__image {
            margin: 0;
        }

        &__h1 {
            text-align: center;
            color: #fff;
        }

        &__desc {
            text-align: center;
        }
    }
}
