.btn-burger {
    @include reset-btn;
    padding: 10px;
    line-height: 0;

    span {
        display: inline-block;
        position: relative;
        width: 24px;
        height: 24px;
    }

    i {
        transition: all 0.2s;
        display: block;
        height: 3px;
        background: #000;
        border-radius: 2px;
        position: absolute;
        top: 50%;
        margin-top: -1px;
        left: 0;
        width: 100%;

        &:nth-child(1) {
            transform: translateY(-7px);
        }
        &:nth-child(3) {
            transform: translateY(7px);
        }
    }

    &.active {
        i {
            &:nth-child(1) {
                transform: rotate(45deg);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                transform: rotate(-45deg);
            }
        }
    }
}

.btn-black {
    @include reset-btn;
    min-width: 25rem;
    background: linear-gradient(90deg, #000000 0%, #434343 100%);
    padding: 1.4rem 3rem 1.8rem 3rem;
    font-family: "Arial Black";
    font-weight: 900;
    font-size: 2rem;
    line-height: calc(28 / 20);
    text-align: center;
    letter-spacing: 0.085em;
    color: #ffffff;

    &:hover {
        background-size: 120% auto;
    }
}

.btn-arrow {
}
