.btn-burger {
    @include reset-btn;
    padding: 1rem;
    line-height: 0;

    span {
        display: inline-block;
        position: relative;
        width: 2.4rem;
        height: 2.4rem;
    }

    i {
        transition: all 0.2s;
        display: block;
        height: 2px;
        background: #fff;
        border-radius: 2px;
        position: absolute;
        top: 50%;
        margin-top: -1px;
        left: 0;
        width: 100%;

        &:nth-child(1) {
            transform: translateY(-0.7rem);
        }
        &:nth-child(3) {
            transform: translateY(0.7rem);
        }
    }

    &.active {
        i {
            &:nth-child(1) {
                transform: rotate(45deg);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                transform: rotate(-45deg);
            }
        }
    }
}

.btn-black {
    @include reset-btn;
    min-width: calc(250 / 20) + em;
    background: linear-gradient(90deg, #000000, transparent) #434343;
    background-size: 100% 100%;
    padding: 0 calc(30 / 20) + em;
    padding-bottom: calc(18 / 20) + em;
    padding-top: calc(14 / 20) + em;
    font-family: "Arial Black";
    font-weight: 900;
    font-size: 2rem;
    line-height: calc(28 / 20);
    text-align: center;
    letter-spacing: 0.085em;
    color: #ffffff;

    &:hover {
        background: #f37335;
    }
}

.btn-arrow {
    @include reset-btn;
    display: inline-flex;
    padding: 0.2rem 0.9rem;
    border: 2px solid #f37335;
    align-items: center;
    font-family: "Arial Black";
    font-weight: 900;
    font-size: 1.6rem;
    line-height: calc(24 / 16);
    color: #f37335;

    .icon {
        margin-left: calc(10 / 14) + em;
        width: 1em;
        height: 1em;
        font-size: calc(14 / 16) + em;
        fill: #f37335;
    }
}

@media (max-width: 999.98px) {
    .btn-black {
        font-size: 1.5rem;
    }
}
