.finance {
    position: relative;
    background: linear-gradient(90deg, #000000 0%, #434343 100%);
    padding-bottom: 18rem;
    padding-top: 10.5rem;

    &__table {
        max-width: 76rem;
        margin: 0 auto;
        margin-top: 5.5rem;

        table {
            width: 100%;
        }

        tr {
            &:last-child {
                td {
                    border-bottom: 0;
                }
            }
        }

        td {
            vertical-align: middle;
            padding: 3rem 3rem 3rem 0;
            border-bottom: 1px solid #eeeeee;
            font-size: 2rem;
            line-height: calc(23 / 20);
            color: #ffffff;

            &:nth-child(1) {
                width: 35%;
                font-weight: 700;
                font-size: 2.4rem;
                line-height: calc(32 / 20);
                text-transform: uppercase;
            }
        }
    }
}

@media (max-width: 999.98px) {
    .finance {
        padding-bottom: 8rem;
        padding-top: 4.5rem;

        &__table {
            display: block;
            margin: 0;

            tr {
                display: block;
                border-bottom: 1px solid #eeeeee;
                padding: 3rem 1rem;

                &:last-child {
                    border-bottom: 0;
                }
            }

            td {
                display: block;
                font-size: 1.8rem;
                padding: 0;
                border-bottom: 0;

                &:nth-child(1) {
                    margin-bottom: 1rem;
                    font-size: 2.2rem;
                    width: 100%;
                }
            }
        }
    }
}
