.header {
    padding-top: 2.1rem;
    padding-bottom: 2.7rem;
    background: linear-gradient(90deg, #000000 0%, #434343 100%);

    &__center {
        @extend .page__center;
    }

    &__btn-burger {
        display: none;
        position: relative;
        z-index: 2000;
    }
}

@media (max-width: 999.98px) {
    .header {
        background: #1a1b1f;
        padding: 0.4rem 0;

        &__center {
            display: flex;
            padding: 0 2rem;
            max-width: none;
        }

        &__btn-burger {
            display: block;
            margin-left: auto;
            margin-right: -1rem;
        }
    }
}
