.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-white {
  color: #fff;
}

.d-block {
  display: block !important;
}

.d-none {
  display: block !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.w-100 {
  width: 100%;
}

.link-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.nice-link {
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0 1px;
  transition: background-size 0.25s ease-out, color 0.2s;
}
.nice-link:hover {
  background-size: 100% 1px;
}
.nice-link--active {
  background-size: 100% 1px;
}
.nice-link--active:hover {
  background-size: 0 1px;
}

.edge-area {
  width: 10%;
  max-width: 70px;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100%;
  display: none;
  pointer-events: none;
}
.edge-area.active {
  display: block;
}
.edge-area--l {
  background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
}
.edge-area--r {
  background: linear-gradient(to left, #fff, rgba(255, 255, 255, 0));
  left: auto;
  right: 0;
}

.image-box {
  position: relative;
}
.image-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

:root {
  --side-padding: 12rem;
}

* {
  box-sizing: border-box;
}

html {
  font-size: clamp(7px, 0.7vw, 10px);
}

body {
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
  min-width: 320px;
  background: #fff;
  font-family: "Arial", sans-serif;
  color: #000;
}

img {
  max-width: 100%;
}

img[data-src] {
  visibility: hidden;
}

a,
button {
  transition: all 0.2s;
}

a {
  text-decoration: none;
  color: currentColor;
}

.btn-burger {
  display: inline-block;
  padding: 0;
  background: none;
  border: 0;
  cursor: pointer;
  padding: 10px;
  line-height: 0;
}
.btn-burger span {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
}
.btn-burger i {
  transition: all 0.2s;
  display: block;
  height: 3px;
  background: #000;
  border-radius: 2px;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 0;
  width: 100%;
}
.btn-burger i:nth-child(1) {
  transform: translateY(-7px);
}
.btn-burger i:nth-child(3) {
  transform: translateY(7px);
}
.btn-burger.active i:nth-child(1) {
  transform: rotate(45deg);
}
.btn-burger.active i:nth-child(2) {
  opacity: 0;
}
.btn-burger.active i:nth-child(3) {
  transform: rotate(-45deg);
}

.page__center {
  padding: 0 var(--side-padding);
  box-sizing: content-box;
  max-width: 1200px;
  margin: 0 auto;
}
.page__h1 {
  margin-bottom: 3.8rem;
  font-family: "Arial Black";
  font-weight: 900;
  font-size: 4.2rem;
  line-height: 1.2380952381;
  color: #fe9149;
}
.page__angle {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 11.5rem;
  background: url(../img/angle.svg) no-repeat 50% 100%/auto 100%;
}
.page__angle--top {
  transform: scaleY(-1);
  top: -1px;
  bottom: auto;
}

.goods {
  padding-bottom: 13.8rem;
  padding-top: 2.5rem;
}
.goods__row {
  display: flex;
  align-items: center;
}
.goods__left, .goods__right {
  flex: 0 0 auto;
  width: 50%;
}
.goods__left {
  padding-right: 3rem;
}
.goods__right {
  padding-left: 2.3rem;
}
.goods__image {
  margin-left: -11.3rem;
}
.goods__desc {
  padding-top: 1.6rem;
}

.contacts {
  background: #fff;
  padding-top: 12.6rem;
  padding-bottom: 15.3rem;
}
.contacts__desc {
  margin-top: 4.9rem;
  font-size: 2.5rem;
  line-height: 1.52;
  text-align: center;
}

.finance {
  position: relative;
  background: linear-gradient(90deg, #000000 0%, #434343 100%);
  padding-bottom: 180px;
  padding-top: 105px;
}
.finance__table {
  max-width: 76rem;
  margin: 0 auto;
  margin-top: 5.5rem;
}
.finance__table table {
  width: 100%;
}
.finance__table tr:last-child td {
  border-bottom: 0;
}
.finance__table td {
  vertical-align: middle;
  padding: 3rem 3rem 3rem 0;
  border-bottom: 1px solid #eeeeee;
  font-size: 2rem;
  line-height: 1.15;
  color: #ffffff;
}
.finance__table td:nth-child(1) {
  width: 35%;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.6;
  text-transform: uppercase;
}

.footer {
  position: relative;
  padding-top: 13.1rem;
  padding-bottom: 5.7rem;
  background: linear-gradient(90deg, #000000 0%, #434343 100%);
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.15;
  text-align: center;
  color: #ffffff;
}

.about {
  position: relative;
  background: linear-gradient(90deg, #000000 0%, #434343 100%);
  padding-top: 6.8rem;
  padding-bottom: 14rem;
}
.about__row {
  display: flex;
  align-items: center;
}
.about__left, .about__right {
  flex: 0 0 auto;
  width: 50%;
}
.about__right {
  padding-left: 4.2rem;
}
.about__image {
  margin-right: -1.8rem;
}

.article {
  font-size: 2rem;
  line-height: 1.4;
}
.article ul {
  list-style: outside disc;
  padding-left: 3rem;
}
.article ul li {
  margin: 2.3rem 0;
}
.article ul li:first-child {
  margin-top: 0;
}
.article ul li:last-child {
  margin-bottom: 0;
}